.navbarDropdown{
    position: relative;
}
.navbarDropdown::before{
    content: "";
    width: 10px;
    height: 10px;
    background: black;
    top: -5px;
    left: 25px;
    position: absolute;
    rotate: 45deg;
}